{% extends 'base.html' %}

{% block content %}
    <h1>Add Recipe</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.name.label_tag }}
        {{ form.name }}
        {{ form.website.label_tag }}
        {{ form.website }}
        {{ form.type.label_tag }}
        {{ form.type }}

        <h1>Ingredients:</h1>
        {{ ingredient_form.management_form }}
        {{ ingredient_form.non_form_errors }}
        {% for form in ingredient_form %}
            {{ form.id }}
            <div class="inline {{ ingredient_form.prefix }}">
                {{ form.ingredient.label_tag }}
                {{ form.ingredient }}
                {{ form.amount.label_tag }}
                {{ form.amount }}
                {{ form.preparation.label_tag }}
                {{ form.preparation }}
                {{ form.unit.label_tag }}
                {{ form.unit }}
            </div>
        {% endfor %}
        <h1>Steps:</h1>
        {{ step_form.management_form }}
        {{ step_form.non_form_errors }}
        {% for form in step_form %}
            {{ form.id }}
            <div class="inline {{ step_form.prefix }}">
                {{ form.step_number.label_tag }}
                {{ form.step_number }}
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
{% block footer_js %}
    {{ block.super }}
     <script>
    $(document).ready(function() {
        $('select').material_select();
    });

    </script>
{% endblock %}